.nav{
 background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
font-size: 3em;
font-weight: 800;
color: white;
letter-spacing: -2px;
top: 0;
width: 100%;
position: fixed;
}