
                <div class="sidebar border-right" style="float: left;">

                    <div class="toc-item mb-4 active"><a class="toc-link"
                            style=" text-align: center; font-size: 1.5em; " href="">Features</a>
                        <ul class="nav flex-column"
                            style="color:black;text-align: center; cursor: pointer; margin-top: 10%;">
                            <li><a class="toc-link" routerLink="/bootstrap">Bootstrap</a></li>
                            <li><a class="toc-link" routerLink="/maps">Maps</a></li>
                            <li><a class="toc-link" routerLink="/translate">Translate</a></li>
                            <li><a class="toc-link" routerLink="/pdf">Pdf Viewer</a></li>
                            <li><a class="toc-link" routerLink="/deploy">Deploy</a></li>
                            <li><a class="toc-link" routerLink="/file-upload">File Upload</a></li>


                            <!---->
                        </ul>
                    </div>
                </div>
<!-- 
<div class="content">
    <h2>Responsive Sidebar Example</h2>
    <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or
        less.</p>
    <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the
        navigation links.</p>

</div> -->